{% extends 'base.html.twig' %}

{% block title %}Profesor{% endblock %}


{% block banner %}
    <div class="container my-5 header_info">
        <h1 class="text-center">Módulo de Profesor</h1>
        <div class="msg">
            <p>Este es el módulo de profesor habilitado para atender solicitudes y gestionar contenidos académicos.</p>
        </div>
    </div>
{% endblock %}


{% block body %}

    <section class="container">
        <h3 class="text-center my-4 header_info">Estadísticas:</h3>

        <div class="row justify-content-around">
            <div class="col-md-3">
                <div class="card">
                    <h5 class="card-header">Contenidos por Asignaturas</h5>
                    <div class="card-body">
                        <p class="card-text">Total de asignaturas: <span>15</span></p>
                        <p class="card-text">Asignaturas curriculares: <span>8</span></p>
                        <p class="card-text">Asignaturas no curriculares: <span>7</span></p>
                        <p class="card-text">Total de contenidos: <span>36</span></p>          
                    </div>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <h5 class="card-header">Solicitudes</h5>
                    <div class="card-body">
                        <p class="card-text">Total de Solicitudes: <span>12</span></p>
                        <p class="card-text">Solicitudes pendientes: <span>6</span></p>
                        <p class="card-text">Solicitudes terminadas: <span>6</span></p>                      
                    </div>
                    </div>
            </div>
        </div>
    </section>

{% endblock %}

