{% extends 'base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block banner %}
  <div class="container my-5 header_info">
      <h1 class="text-center">Sistema de gestion de contenidos academicos</h1>
      <div class="msg">
          <p>Bienvenido al sistema de gestion de contenidos academicos de la Universidad de Ciencias Inform치ticas. El sistema maneja todo el contenidos de forma sencilla, simple y segura, permitiendo a estudiantes y profesores compartir materiales de estudio y la realizaci칩n de soicitudes por parte de los estudiantes.</p>
      </div>
  </div>
{% endblock %}

{% block body %}

    <section class="container">
        <h3 class="text-center my-4 header_info">Elementos dentro del sistema:</h3>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Asignaturas</h5>
                    <div class="card-body">
                      <h5 class="card-title">Gran variedad de asignaturas:</h5>
                      <p class="card-text">Todo el contenido dentro del sistema se encuentra organizado con relacion a la asignatura a la que pertenece, de esta forma se mantiene un orden l칩gico e intuitivo.</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Solicitudes</h5>
                    <div class="card-body">
                      <h5 class="card-title">Solicita contenidos</h5>
                      <p class="card-text">Los estudiantes tienen la posibilidad de solicitar contenidos de las asignaturas que estan recibiendo y es trabajo de los profesores responder esas solicitudes.</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Contenidos</h5>
                    <div class="card-body">
                      <h5 class="card-title">Recurso principal</h5>
                      <p class="card-text">El intercambio de contenidos es la necesidad m치s importante que se intenta suplir. Todos los contenidos estan disponibles publicamente.</p>                      
                    </div>
                  </div>
            </div>
        </div>
    </section>


{% endblock %}
