{% extends 'base.html.twig' %}

{% block title %}New SeccionContenidos{% endblock %}

{% block body %}
    <section class="container mt-5">
        <h3 class="mb-4">Crear nueva seccion</h3>
        {{ include('profesor/seccion_contenidos/_form.html.twig') }}
        
    </section>

{% endblock %}
