{% extends 'base.html.twig' %}

{% block title %}Edit Contenido{% endblock %}



{% block body %}
    <section class="container mt-5">
        <div class="row">
            <h3 class="mb-4 col-10">Editar Contenido</h3>
            {{ include('profesor/contenido/_delete_form.html.twig') }}
        </div>
        <div class="row flex-row">
            {{ include('profesor/contenido/_form.html.twig', {'button_label': 'Update'}) }}
            
        </div>
    </section>
{% endblock %}
